<!DOCTYPE html>
<html>
<head>
    <title>Lab 3</title>
    <!-- Bootsrtap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/style.css" type="text/css" />
    {% block script %}
    {% endblock %}
</head>
<body>

<main>

    {% include "includes/navbar.html" %}
    
    {% block content %}  
    {% endblock %}
    
</main>

</body>
</html>